app = 'readeck-crimson-water-318'
primary_region = 'cdg'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = "readeck_data"
  destination = "/readeck"
  auto_extend_size_threshold = 90
  auto_extend_size_increment = "1gb"
  auto_extend_size_limit = "5gb"


[machines]
  min_machines_running = 1
  max_machines_running = 2